.con2{
    margin-top: 40px;
}

.contact3{
    border-bottom: none;
    position: absolute;
    margin-left: 305px;
    margin-top: -45px;
}
.con5{
    border-bottom: none;
    position: absolute;
    margin-left: 305px;
    margin-top: -45px;
}
.con4{
    margin-top: 80px;
}