@font-face{
    font-family: "myFont";
    src: url('../Font/Montserrat-SemiBold.ttf')format(truetype)
}

h1{

    font-family: 'myFont';
    color:skyblue;
    margin-left: 90px;
    margin-bottom: -20px;
}

h6{
    color: white;
    margin-left: 90px;
    position: relative;
}